@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:700,400,600);

.homepage .container {
  font-family: serif !important;
}

.entry-content {
  font-family: 'Source Serif Pro', serif !important;
}

.btn {
  background-image: none !important;
  background-color: white !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #60b044 !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0) !important;
}

.header-logo-wordmark {
  position: relative;
  top: -3px;
}

.header-logo-wordmark::after {
  content: 'for Science';
  position: absolute;
  bottom: -14px;
}

.commit-tease {
  background-color: rgba(15,66,203, 0.125) !important;
}

.menu-item.selected:before, .sunken-menu-item.selected:after {
  background-color: red !important;
}

a, a:link, a:visited {
  color: #0f42cb;
}

table.files td.icon .octicon-file-directory, .zeroclipboard-link {
  color: #0f42cb !important;
}

.teaser {
  background-color: #333;
  color: white !important;
  padding: 2em 0;
  background: #202021 url(/images/modules/home/octicons-bg.png) center repeat;
}

.teaser__main {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.teaser__title {
  margin-bottom: 0em;
}

.teaser__subtitle {
  font-weight: normal;
  margin-top: 0.25em;
}

.teaser__aside {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
}